:root {
    --tdg: #137c75;
    --tdy: #f4e04d;
    --tly: #f2ed6f;
    --tlg: #cee397;
    --tm: #e7ad99;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    /* background-image: linear-gradient(var(--tlb), var(--tdb)); */
    color: var(--tdg);
    background-color: var(--tm);
    display: grid;
    width: 100%;
    /* border: 1px solid;
    border-color: red; */
}

.taniti-logo {
    max-width: 25%;
    /* border: 1px solid; */
}

.taniti-slogan {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 18%;
    /* border: 1px solid; */
}

.navbar {
    overflow: hidden;
    background-image: linear-gradient(black);
    margin-left: 0;
    margin-right: 0;
}

.nav-link {
    color: white;
    height: 100%;
    display: block;
    margin: 0px 0px 0px 10px;
}

.nav-link:hover {
    background-color: var(--tdy);
    color: black
}

input {
    font-style: italic;
}

.btn {
    background-color: var(--tdg);
    color: white;
}

.btn:hover {
    background-color: var(--tdy);
    color: black;
}

.div-left,
.div-right {
    height: inherit;
    min-width: 10%;
    background-image: linear-gradient(to right, var(--tlg), white, var(--tlg));
    flex-grow: 1;
}

.div-body-content {
    display: inline-flex;
}

.div-main-content {
    width: 100%;
    padding-top: 15px;
    flex-grow: 75%;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.active {
    background-color: var(--tdg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--tdg);
}

.bg-db {
    background-color: var(--tdg);
}

.bg-lb {
    background-color: var(--tlg);
}

.fc-db {
    color: var(--tdg);
}

.fc-s {
    color: var(--tc);
}

.w-5 {
    width: 5%;
}

.link-light {
    color: white;
    text-decoration: none;
}

.link-light:hover {
    text-decoration: underline;
}

footer {
    margin-top: -5px;
    padding: 10px;
}

.copyright {
    font-size: 9px;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mp-0 {
    margin: 0;
    padding: 0;
}

.mw-50 {
    max-width: 50%;
}

.min-h400px {
    height: 400px;
}

.h-100px {
    min-height: 100px;
}

.mh-50 {
    max-height: 50%;
    max-width: 50%;
}